<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
Welcome to Minidoudou !</h1>

<h3>Select your device to get started</h3>

<ul>
<% @devices.each do |device| %>
  <li><%= device.image_url %> <%= link_to device.name, device %></li>
<% end %>
</ul>

<p>Minidoudou is still under development, so don't expect too much right now... After a first test phase, I will be looking for contributors to support more devices and ROMs.</p>
<p>Join me on <a href="http://forum.xda-developers.com/showthread.php?t=834868">XDA developers</a> to give your opinion and discuss features!</p>
<p>You can check out the source code and report bugs on <a href="https://github.com/joelcogen/minidoudou">GitHub</a>.</p>

<div id="admin">
  <%= link_to 'New device', new_device_path %> |
  <%= link_to 'Packages', packages_path %> |
  <%= link_to 'APKs', apks_path %> |
  <%= link_to 'Log', 'log' %>
</div>

