<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
<%= @device.name %></h1>

<p id="notice"><%= notice %></p>

<script>
  $(function() {
	  $('#accordion').accordion();
  });
</script>

<h3>Select a ROM to customize</h3>

<div id="accordion">
  <% @base_roms = @device.base_roms.select{|r| !r.old && !r.dev} %>
  <h3><a href="#">Current (<%= @base_roms.count %>)</a></h3>
  <%= render :partial => 'base_rom' %>

  <% @base_roms = @device.base_roms.select{|r| r.old && !r.dev} %>
  <h3><a href="#">Deprecated (<%= @base_roms.count %>)</a></h3>
  <%= render :partial => 'base_rom' %>


  <% @base_roms = @device.base_roms.select{|r| r.dev} %>
  <h3><a href="#">In development (<%= @base_roms.count %>)</a></h3>
  <%= render :partial => 'base_rom' %>
</div>

<div id="admin">
  <%= link_to 'Edit device', edit_device_path(@device) %> | <%= link_to 'New ROM', new_device_base_rom_path(@device) %>
</div>

