<p id="notice"><%= notice %></p>

<div id="nav">
  <%= link_to 'Back', devices_path %>
</div>

<h1><%= @device.name %></h1>

<ul>
<% @device.base_roms.select{|r| !r.old && !r.dev}.each do |base_rom| %>
  <li><%= link_to base_rom.name, device_base_rom_configurations_path(@device, base_rom) %></li>
<% end %>
</ul>

<h2>Deprecated</h2>

<ul>
<% @device.base_roms.select{|r| r.old && !r.dev}.each do |base_rom| %>
  <li><%= link_to base_rom.name, base_rom %></li>
<% end %>
</ul>

<h2>In development</h2>

<ul>
<% @device.base_roms.select{|r| r.dev}.each do |base_rom| %>
  <li><%= link_to base_rom.name, base_rom %></li>
<% end %>
</ul>

<div id="admin">
  <%= link_to 'Edit device', edit_device_path(@device) %> | <%= link_to 'New ROM', new_device_base_rom_path(@device) %>
</div>

