<script>
  jQuery(function() {
	  jQuery( "#accordion" ).accordion();
  });
</script>

<p id="notice"><%= notice %></p>

<div id="nav">
  <%= link_to 'Back', devices_path %>
</div>

<h1><%= @device.name %></h1>

<div id="accordion">
  <% base_roms = @device.base_roms.select{|r| !r.old && !r.dev} %>
  <h3><a href="#">Current (<%= base_roms.count %>)</a></h3>
  <div>
    <% if base_roms.count == 0 %>
      <p>No ROMs here yet</p>
    <% else %>
      <ul>
      <% base_roms.each do |base_rom| %>
        <li><%= link_to base_rom.name, device_base_rom_configurations_path(@device, base_rom) %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% base_roms = @device.base_roms.select{|r| r.old && !r.dev} %>
  <h3><a href="#">Deprecated (<%= base_roms.count %>)</a></h3>
  <div>
    <% if base_roms.count == 0 %>
      <p>No ROMs here yet</p>
    <% else %>
      <ul>
      <% base_roms.each do |base_rom| %>
        <li><%= link_to base_rom.name, device_base_rom_configurations_path(@device, base_rom) %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% base_roms = @device.base_roms.select{|r| r.dev} %>
  <h3><a href="#">In development (<%= base_roms.count %>)</a></h3>
  <div>
    <% if base_roms.count == 0 %>
      <p>No ROMs here yet</p>
    <% else %>
      <ul>
      <% base_roms.each do |base_rom| %>
        <li><%= link_to base_rom.name, device_base_rom_configurations_path(@device, base_rom) %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div id="admin">
  <%= link_to 'Edit device', edit_device_path(@device) %> | <%= link_to 'New ROM', new_device_base_rom_path(@device) %>
</div>

