<% content_for :navbar do %>
  <%= link_to image_tag('home.png'), '/' %> <%= image_tag 'nav_sep.png' %>
  <%= @device.name %>
<% end %>

<script language="javascript">
  $(function() {
	  $('#accordion').accordion();
  });
</script>

<h2>Select a ROM to customize</h2>

<div id="accordion">
  <% @base_roms = @device.base_roms.select{|r| !r.old && !r.dev} %>
  <h3><a href="#">Current (<%= @base_roms.count %>)</a></h3>
  <%= render :partial => 'base_rom' %>

  <% @base_roms = @device.base_roms.select{|r| r.old && !r.dev} %>
  <h3><a href="#">Deprecated (<%= @base_roms.count %>)</a></h3>
  <%= render :partial => 'base_rom' %>


  <% @base_roms = @device.base_roms.select{|r| r.dev} %>
  <h3><a href="#">In development (<%= @base_roms.count %>)</a></h3>
  <%= render :partial => 'base_rom' %>
</div>

<% content_for :admin do %>
  <%= link_to 'Edit device', edit_device_path(@device) %> | <%= link_to 'New ROM', new_device_base_rom_path(@device) %>
<% end %>

