<% content_for :navbar do %>
  <%= link_to image_tag('home.png'), '/' %> <%= image_tag 'nav_sep.png' %>
  <%= @device.name %>
<% end %>

<script language="javascript">
  $(function() {
	  $('#accordion').accordion();
  });
</script>

<h2>Select a ROM to customize</h2>

<div id="accordion">
  <%= render :partial => 'base_rom', :locals => {:section => 'Current', :base_roms => @current_base_roms} %>
  <%= render :partial => 'base_rom', :locals => {:section => 'In development (only visible by you)', :base_roms => @dev_base_roms} %>
  <%= render :partial => 'base_rom', :locals => {:section => 'Deprecated', :base_roms => @deprecated_base_roms} %>
</div>

<% content_for :admin do %>
  <% if can? :edit, @device %>
    <%= link_to 'Edit device', edit_device_path(@device) %> |
  <% end %>
  <%= link_to 'New ROM', new_device_base_rom_path(@device) %>
<% end %>

