<script>
	jQuery(function() {
		jQuery( "#remove, #data, #system" ).sortable({
			connectWith: ".apklist",
			placeholder: "ui-state-default",
			stop: function(event, ui) {
			  var apk_id = jQuery(ui.item.context).attr('id');
        var new_value = jQuery(ui.item.context).parent('ul').attr('id');
			  console.log(apk_id + ':' + jQuery('#apk_' + apk_id).val() + '->' + new_value);
			  jQuery('#apk_' + apk_id).val(new_value);
		  }
		}).disableSelection();

		jQuery( "#radio" ).buttonset();
	});
</script>

<%= form_for([@base_rom.device, @base_rom, @configuration]) do |f| %>
  <% if @configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

      <ul>
      <% @configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Packages</h2>
  <% @base_rom.base_rom_packages.sort_by {|p| p.package.name}.sort_by {|p| p.mandatory ? 0 : 1 }.each do |brp| %>
  <% package = brp.package %>
    <div class="field">
      <%= check_box 'packages', package.id, brp.mandatory ? {:disabled=>'disabled', :checked=>'checked'} : {} %>
      <%= package.name %>
    </div>
  <% end %>

  <h2>Applications</h2>
  <div id="radio">
    Mode:
	  <input type="radio" id="radio1" name="radio" onClick="javascript:jQuery('.expert').css('display','none');" checked="checked" />
	    <label for="radio1">Simple</label>
	  <input type="radio" id="radio2" name="radio" onClick="javascript:jQuery('.expert').css('display','block');" />
	    <label for="radio2">Expert</label>
  </div>
  <h4>Drag &amp; drop applications to install or remove!</h4>

  <table id="apktable">
    <tr>
      <th>Not installed</th>
      <th>Installed in /system</th>
      <th>Installed in /data</th>
    </tr>
    <tr>
      <td>
        <ul id="remove" class="apklist ui-corner-all">
          <% @extra_apks.sort_by {|a| a.name}.each do |apk| %>
            <li class="ui-state-highlight <%= apk.expert ? 'expert' : '' %>" id="<%= apk.id %>">
              <%= apk.name %><br/><span class="note"><%= apk.description %></span></li>
            <%= hidden_field 'apk', apk.id, :value=>'remove' %>
          <% end %>
        </ul>
      </td>
      <td>
        <ul id="system" class="apklist ui-corner-all">
          <% @base_rom.apks.select {|a| a.location=='system'}.sort_by {|a| a.name}.each do |apk| %>
            <li class="ui-state-highlight <%= apk.expert ? 'expert' : '' %>" id="<%= apk.id %>">
              <%= apk.name %><br/><span class="note"><%= apk.description %></span></li>
            <%= hidden_field 'apk', apk.id, :value=>'system' %>
          <% end %>
        </ul>
        <span class="note">If system partition is full, some applications will be moved to data</span>
      </td>
      <td>
        <ul id="data" class="apklist ui-corner-all">
          <% @base_rom.apks.select {|a| a.location=='data'}.sort_by {|a| a.name}.each do |apk| %>
            <li class="ui-state-highlight <%= apk.expert ? 'expert' : '' %>" id="<%= apk.id %>">
              <%= apk.name %><br/><span class="note"><%= apk.description %></span>
            </li>
            <%= hidden_field 'apk', apk.id, :value=>'data' %>
          <% end %>
        </ul>
      </td>
    </tr>
  </table>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

