<%= form_for([@base_rom.device, @base_rom, @configuration]) do |f| %>
  <% if @configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

      <ul>
      <% @configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Packages</h2>
  <% @base_rom.base_rom_packages.sort_by {|p| p.package.name}.sort_by {|p| p.mandatory ? 0 : 1 }.each do |brp| %>
  <% package = brp.package %>
    <div class="field">
      <%= check_box 'packages', package.id, brp.mandatory ? {:disabled=>'disabled', :checked=>'checked'} : {} %>
      <%= package.name %>
    </div>
  <% end %>

  <h2>Applications</h2>
  <% (@base_rom.apks + @extra_apks).sort_by {|a| a.name}.each do |apk| %>
    <div class="field">
      <%= apk.name %>
      <%= select 'apk', apk.id, ['remove', 'data', 'system'], { :selected => apk.location } %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

