<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
<%= link_to @base_rom.device.name, @base_rom.device %> <%= image_tag 'nav_sep.png' %>
<%= @base_rom.name %></h1>

<p id="notice"><%= notice %></p>

<p><%= @base_rom.info.split("\n").join("<br/>").html_safe %></p>

<h3><%= link_to 'Let\'s get started!', new_device_base_rom_configuration_path(@base_rom.device, @base_rom) %></h3>

<h2>Downloads</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Changes</th>
    <th></th>
  </tr>

<% @configurations.each do |configuration| %>
  <tr>
    <td>
      <div class="small-table-cell"><%= configuration.name %></div>
    </td>
    <td><%= configuration.file_path.nil? ? '<em>Pending...</em>'.html_safe : 'Ready' %></td>
    <td>
      <% if (configuration.packages + configuration.changes).empty? %>
        <em>None</em>
      <% else %>
        <%= link_to "#{(configuration.packages + configuration.changes).count} changes", "javascript:", :onClick => "javascript: $('#packages_#{configuration.id}').toggle('blind');" %>
        <ul id="packages_<%= configuration.id %>">
          <%= configuration.packages.collect {|p| "<li>Install <strong>#{p.fullname}</strong></li>"}.join().html_safe %>
          <%= configuration.changes.collect {|c| "<li>#{c.explain}</li>"}.join().html_safe %>
        </ul>
        <script>$('#packages_<%= configuration.id %>').hide()</script>
      <% end %>
    </td>
    <td>
      <% unless configuration.file_path.nil? %>
        <%= link_to 'Download', configuration.file_path, :target=>:blank %>&nbsp;|&nbsp;<%= link_to 'QR', "javascript:", :onClick => "javascript: $('#qr_#{configuration.id}').toggle('blind');" %>
        <br/><%= image_tag "http://joelcogen.com/qr/img.php?u=#{configuration.file_path}", :size=>'100x100', :alt=>'qr-code', :id=>"qr_#{configuration.id}" %>
        <script>$('#qr_<%= configuration.id %>').hide()</script>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<div id="admin">
  <%= link_to 'ROM details', [@base_rom.device, @base_rom] %>
</div>

