<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
<%= link_to @base_rom.device.name, @base_rom.device %> <%= image_tag 'nav_sep.png' %>
<%= @base_rom.name %></h1>

<p id="notice"><%= notice %></p>

<p><%= @base_rom.info.split("\n").join("<br/>").html_safe %></p>

<h3><%= link_to 'Make my own!', new_device_base_rom_configuration_path(@base_rom.device, @base_rom) %></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Packages</th>
    <th></th>
  </tr>

<% @configurations.each do |configuration| %>
  <tr>
    <td>
      <div class="small-table-cell"><%= configuration.name %></div>
    </td>
    <td><%= configuration.file_path.nil? ? '<em>Pending...</em>'.html_safe : 'Ready' %></td>
    <td>
      <% if configuration.packages.empty? %>
        <em>None</em>
      <% else %>
        <%= link_to "#{configuration.packages.count} packages", "javascript:", :onClick => "javascript: jQuery('#packages_#{configuration.id}').toggle('blind');" %>
        <ul id="packages_<%= configuration.id %>">
          <%= configuration.packages.collect {|p| '<li>' + p.fullname + '</li>'}.join().html_safe %>
        </ul>
        <script>jQuery('#packages_<%= configuration.id %>').hide()</script>
      <% end %>
    </td>
    <td>
      <% unless configuration.file_path.nil? %>
        <%= link_to 'Download', configuration.file_path %>&nbsp;|&nbsp;<%= link_to 'QR', "javascript:", :onClick => "javascript: jQuery('#qr_#{configuration.id}').toggle('blind');" %>
        <br/><%= image_tag "http://joelcogen.com/qr/img.php?u=#{configuration.file_path}", :size=>'100x100', :alt=>'qr-code', :id=>"qr_#{configuration.id}" %>
        <script>jQuery('#qr_<%= configuration.id %>').hide()</script>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Make my own!', new_device_base_rom_configuration_path(@base_rom.device, @base_rom) %></h3>

<div id="admin">
  <%= link_to 'Edit this ROM', [@base_rom.device, @base_rom] %>
</div>

