<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @configuration.name %>
</p>

<p>
  <b>Base rom:</b>
  <%= @configuration.base_rom_id %>
</p>

<p>
  <b>File path:</b>
  <%= @configuration.file_path %>
</p>

<%= link_to 'Back', device_base_rom_configurations_path %>

