<p id="notice"><%= notice %></p>

<p>
  <b>Base rom:</b>
  <%= @choice.base_rom_id %>
</p>

<p>
  <b>Include nil:</b>
  <%= @choice.include_nil %>
</p>

<p>
  <b>Name:</b>
  <%= @choice.name %>
</p>


<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
