<h1>Listing actions</h1>

<table>
  <tr>
    <th>Action type</th>
    <th>Option</th>
    <th>Base rom</th>
    <th>Parameters</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actions.each do |action| %>
  <tr>
    <td><%= action.action_type_id %></td>
    <td><%= action.option_id %></td>
    <td><%= action.base_rom_id %></td>
    <td><%= action.parameters %></td>
    <td><%= link_to 'Show', action %></td>
    <td><%= link_to 'Edit', edit_action_path(action) %></td>
    <td><%= link_to 'Destroy', action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action', new_action_path %>
