<p id="notice"><%= notice %></p>

<p>
  <b>Action type:</b>
  <%= @action.action_type_id %>
</p>

<p>
  <b>Option:</b>
  <%= @action.option_id %>
</p>

<p>
  <b>Base rom:</b>
  <%= @action.base_rom_id %>
</p>

<p>
  <b>Parameters:</b>
  <%= @action.parameters %>
</p>


<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
