<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @action_type.name %>
</p>

<p>
  <b>Command:</b>
  <%= @action_type.command %>
</p>


<%= link_to 'Edit', edit_action_type_path(@action_type) %> |
<%= link_to 'Back', action_types_path %>
