<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
APKs</h1>

<ul>
<% @apks.sort_by {|a| !a.deprecated}.each do |apk| %>
  <li>
    <strong><%= apk.deprecated ? "<s>".html_safe : "" %><%= link_to apk.name, apk %><%= apk.deprecated ? "</s>".html_safe : "" %></strong><br/>
    <%= apk.description %>
  </li>
<% end %>
</ul>

<div id="admin">
  <%= link_to 'New APK', new_apk_path %>
</div>

