<% content_for :navbar do %>
  <%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
  APKs
<% end %>

<ul>
<% @apks.sort_by {|a| a.deprecated ? 1 : 0}.each do |apk| %>
  <li>
    <strong><%= apk.deprecated ? "<s>".html_safe : "" %><%= link_to apk.name, apk %><%= apk.deprecated ? "</s>".html_safe : "" %></strong><br/>
    <%= apk.description %>
  </li>
<% end %>
</ul>

<% content_for :admin do %>
  <%= link_to 'New APK', new_apk_path %>
<% end %>

