<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
<%= link_to 'APKs', apks_path %> <%= image_tag 'nav_sep.png' %>
<%= @apk.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Base rom:</b>
  <%= @apk.base_rom.nil? ? "Extra" : link_to("#{@apk.base_rom.name} for #{@apk.base_rom.device.name}", [@apk.base_rom.device, @apk.base_rom]) %>
</p>

<p>
  <b>Name:</b>
  <%= @apk.name %>
</p>

<p>
  <b>Description:</b>
  <%= @apk.description %>
</p>

<p>
  <b>Location:</b>
  <%= @apk.location %>
</p>

<p>
  <b>Deprecated:</b>
  <%= @apk.deprecated %>
</p>

<div id="admin">
  <%= link_to 'Edit', edit_apk_path(@apk) %> |
  <%= link_to 'Delete', @apk, :confirm => 'Really?', :method => :delete %>
</div>

