<%= form_for([@device, @base_rom]) do |f| %>
  <% if @base_rom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base_rom.errors.count, "error") %> prohibited this base_rom from being saved:</h2>

      <ul>
      <% @base_rom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Website' %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label 'Original file' %><br />
    <%= f.text_field :file_path %>
  </div>

  <div class="field">
    <%= f.check_box :dev %> <%= f.label 'In development' %>
  </div>
  <div class="field">
    <%= f.check_box :old %> <%= f.label 'Deprecated' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

