<p id="notice"><%= notice %></p>

<div id="nav">
  <%= link_to 'Back', @base_rom.device %>
</div>

<h1><%= @base_rom.name %> for <%= @base_rom.device.name %></h1>

<p>
  <b>Old:</b>
  <%= @base_rom.old %>
</p>

<p>
  <b>Url:</b>
  <%= @base_rom.url %>
</p>

<p>
  <b>Device:</b>
  <%= @base_rom.device_id %>
</p>

<div id="admin">
  <%= link_to 'Edit', edit_base_rom_path(@base_rom) %>
</div>

