<h1><%= link_to image_tag('home.png'), '/' %></a> <%= image_tag 'nav_sep.png' %>
<%= link_to @base_rom.device.name, @base_rom.device %> <%= image_tag 'nav_sep.png' %>
<%= link_to @base_rom.name, device_base_rom_configurations_path(@base_rom.device, @base_rom) %> <%= image_tag 'nav_sep.png' %>
Details</h1>

<p id="notice"><%= notice %></p>

<h2>Packages</h2>

<ul>
<% @base_rom.base_rom_packages.select {|p| !p.dev}.each do |base_rom_package|
     package = base_rom_package.package %>
  <li><%= package.fullname %> <%= base_rom_package.mandatory ? '(mandatory)' : '' %> | <%= link_to 'Remove', [@base_rom.device, @base_rom, base_rom_package], :method => 'DELETE', :confirm => 'Sure?' %></li>
<% end %>
</ul>

<h2>APKs</h2>

<ul>
<% @base_rom.apks.sort_by {|a| a.name}.sort_by {|a| a.expert ? 1 : 0}.each do |apk| %>
  <li>
    <strong><%= link_to apk.name, apk %></strong><%= apk.expert ? ' (expert)' : '' %><br/>
    <%= apk.description %>
  </li>
<% end %>
</ul>

<div id="admin">
  <%= link_to 'Edit info', edit_device_base_rom_path(@base_rom.device, @base_rom) %> |
  <%= link_to 'Add package', new_device_base_rom_base_rom_package_path(@base_rom.device, @base_rom) %> |
  <%= link_to 'Purge configs', base_rom_purge_configs_path(@base_rom.device, @base_rom), :confirm => 'Sure? You might piss someone off...' %> |
  <%= link_to 'Purge test configs', base_rom_purge_test_configs_path(@base_rom.device, @base_rom), :confirm => 'Sure?' %> |
  <%= link_to 'Delete', [@base_rom.device, @base_rom], :method => 'DELETE', :confirm => 'OMG are you absolutely sure? I mean, you could mark it deprecated, but deleting? Really? REALLY really?' %>
</div>

