<!DOCTYPE html>
<html>
<head>
  <title>Minidoudou</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min.js' %>
  <!--<%= javascript_include_tag :defaults %>-->
  <%= csrf_meta_tag %>
</head>
<body>

<div id="banner"></div>

<div id="navbar"></div>
<div id="nav_bottom"></div>

<div id="content_top"></div>
<div id="content">
  <%= yield %>
</div>
<div id="content_bottom"></div>

<div id="footer">
  This website is made available in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. By installing software downloaded from this website on your phone, you are probably voiding the manufacturer's warranty. YOU HAVE BEEN WARNED.
</div>

<!-- Move the nav text to the nav area -->
<script type="text/javascript">
  document.getElementById('navbar').innerHTML = document.getElementsByTagName('h1')[0].innerHTML;
  document.getElementsByTagName('h1')[0].innerHTML = '';
</script>

<!-- Ads -->
<div class="adsense" id="ad_left">
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-6736818645777019";
  /* skyscraper mdd */
  google_ad_slot = "3734738974";
  google_ad_width = 160;
  google_ad_height = 600;
  //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
<div class="adsense" id="ad_right">
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-6736818645777019";
  /* skyscraper mdd */
  google_ad_slot = "3734738974";
  google_ad_width = 160;
  google_ad_height = 600;
  //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>

<!-- Center the ads vertically and
     hide the right ad if we lack horizontal space -->
<script type="text/javascript">
  if(jQuery(window).height()>610) {
    var topspace = (jQuery(window).height() - 600) / 2;
    document.getElementById('ad_left').style.top = topspace+'px';
    document.getElementById('ad_right').style.top = topspace+'px';
  }
  if(jQuery(window).width()<1150) {
    document.getElementById('ad_right').style.display = 'none';
  }
</script>

</body>
</html>

